.home{
    width: 80%;
    height: 90%;
    position: absolute;
    left: 17%;
    top: 7%;
}

@media screen and (max-width:1400px){
    .home{
        left: 8%!important;
        margin: auto;
        width: 90%!important;
    }
    .overlay{
        filter: blur(4px);
    }
}


@media screen and (max-width: 600px){
    .home{
        left: 5%!important;
    }
}