.login{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    top: 0;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .description{
        width: 40%;
        height: 460px;
        color: #fff;
        h2{
            font-size: 40px;
            color: goldenrod;
        }
        p{
            font-size: 22px;
            margin-bottom: 0px;
        }
        h4{
            font-size: 22px;
            margin-bottom: 0px;
            color: #fff;
        }
    }
    .login_container{box-shadow: 0px 0px 25px 12px rgba(0,0,0,0.34);}
    .login_container,.signup{
        
        
        width: 450px;
        height: auto;
        margin-right: 50px;
        background: #212121;
        position: relative;
        z-index: 10000;
        .logo{
            width: 150px;
            height: 150px;
            margin: auto;
            background-image: url('../assets/logo.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: auto;
            label{
                margin-bottom: 5px;
            }
            input[type='text'],input[type='password']{
                border: none;
                outline: none;
                color: black;
                padding: 10px 5px ;
                margin-bottom: 20px;
            }
            .login_btn{
                margin: 20px auto 7px auto;
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 50px;
                background-color: #1199be;
                outline: none;
                border: none;
                border-radius: 30px;
                color: #fff;
                transition: 0.5s;
                /*&:hover{
                    cursor: pointer;
                    
                }*/
                &:focus{
                    outline: 0;
                  }
                  &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    background: rgba(255,255,255,0.5);
                    width: 60px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    opacity: .5;
                    filter: blur(30px);
                    transform: translateX(-100px)  skewX(-15deg);
                  }
                  &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    background: rgba(255,255,255,0.2);
                    width: 30px;
                    height: 100%;
                    left: 30px;
                    top: 0;
                    opacity: 0;
                    filter: blur(5px);
                    transform: translateX(-100px) skewX(-15deg);
                  }
                  &:hover{
                    background: #14B6E4;
                    cursor: pointer;
                    transition: 0.5s;
                    &:before{
                      transform: translateX(300px)  skewX(-15deg);  
                      opacity: 0.6;
                      transition: .7s;
                    }
                    &:after{
                      transform: translateX(300px) skewX(-15deg);  
                      opacity: 1;
                      transition: .7s;
                    }
                  }
            }
            a{
                cursor:inherit
            }
        }
        hr{
            width: 41%;
            border: 1px solid gray;
        }
        .register_c{
            margin: auto;
            width: 70%;
            display: flex;
            justify-content: center;
            margin-top: 12px;
            margin-bottom: 45px;
            button{
                width: 80%;
                height: 40px;
                border: none;
                outline: none;
                background: goldenrod;
                color: white;
                border-radius: 10px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .signup{
        height:auto;
        display: none;
        .signup_container{
            position: relative;
            .login_btn{
                margin-top: 25px!important;
                margin-bottom: 25px!important;
                &:hover{
                    cursor: pointer;
                }
            }
            .close{
                position: absolute;
                right: 20px;
                top: 15px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .display{
        display: block!important;
        position: absolute;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    };
    .overlay{
        filter: blur(10px);
    }
    
}
@media screen and (max-width:969px){
    .login{
        display: block;
        .login_container,.signup_container{
            width: 50%;
            margin: auto;
            height: 500px;
        }
        .description{
            width: 50%;
            height: 27%;
            margin: auto;
            p{font-size: 18px;}
            h4{margin-top: -20px;}
        }
        .signup{
            width: 100vw;
            top: 22%;
            background-color: rgba(231,213,255,0);
            .signup_container{
                background-color: #212121;    
            }
        }
    }
}

@media screen and (max-width:600px){
    .login,.signup{
        display: block;
        .login_container,.signup_container{
            width: 86%;
            height: 470px;
            .logo{
                height:125px ;
            }
        }
        .description{
            width: 86%;
            height: 25%;
            
            p{font-size: 12px;}
            h4{font-size: 15px;}
            h2{font-size: 26px;}
        }

    }
    
}




  